@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: fixed;
}

body {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

#__next {
  height: 100%;
}
